Makefile
Makefile.in
.deps
.libs
*.o
*.lo
*.la
*.pc
aclocal.m4
acinclude.m4
aminclude.am
m4/*.m4
autom4te.cache
config.h*
config.sub
config.log
config.status
config.guess
configure
depcomp
missing
ltmain.sh
install-sh
stamp-h1
libtool
Doxyfile

.tarball-version
.version

.*.swp

doc/

rtl_httpd
rtl_fm


CMakeCache.txt
*/CMakeFiles
CMakeFiles
*.cmake


libconvenience_static.a
libfm_httpd.a

web_include/bootstrap.css
web_include/css.all
web_include/js.all
web_include/web.all
web_include/web_include.h

